.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .alert {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 1rem;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .alert .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
  }
  
  .alert-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .alert-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  
  .alert-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .alert-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  